<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <div th:if="${param.error}"><b style="color:#FF0000">Invalid username & password.</b></div>
    <div th:if="${param.logout}"><b>You have logged out.</b></div>
    <p>Try credentials: (user1/p), (user2/p), (user3/p), (user4/p)</p>
    <br>
    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td>User name</td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" /></td>
            </tr>
        </table>
        <div><input type="submit" value="Sign In" /></div>
    </form>
</body>
</html>