<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table border="1">
        <caption><h3>SEARCH PARAMS:</h3></caption>
        <tr>
            <td>cityId</td>
            <td><p th:text="${cityId}" /></td>
        </tr>
        <tr>
            <td>cityName</td>
            <td><p th:text="${cityName}" /></td>
        </tr>
        <tr>
            <td>latitude</td>
            <td><p th:text="${latitude}" /></td>
        </tr>
        <tr>
            <td>longitude</td>
            <td><p th:text="${longitude}" /></td>
        </tr>
    </table>
    <b><p th:text="${weather}" /></b>
</body>
<form action="index.html">
    <input type="submit" value="Go back">
</form>
</html>